/* PEX computação em nuvem */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #0080FF;
    --cor-hover: #003366;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria: "Montserrat", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* animação ícone casa */

.cabecalho_home {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    justify-content: flex-start;
}

.cabecalho_home::after {
    content: "";
    background-color: var(--cor-terciaria);
    height: 3px;
    width: 0%;
    display: block;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.cabecalho_home:hover::after {
    width: 100%;
}

.cabecalho_home img {
    width: 30px;
    height: auto;
    display: inline-block;
}

/* FIM DA ANIMAÇÃO ÍCONE CASA */

.cabecalho_link::after{
    content: "";
    background-color: var(--cor-terciaria);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

.cabecalho_link:hover::after{
    width: 100%;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho{
    display: flex;
    padding: 2% 10%;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_menu{
    display: flex;
    gap: 25px;
    margin-left: auto;
    /* padding-right: 100px; */
}

.cabecalho_link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    justify-content: end;
}


body{
    /* height: 100vh; */
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.quiz{
    color: var(--cor-terciaria);
    text-decoration: none;
    cursor: pointer;
}

.quiz span {
    position: relative; 
    display: inline-block;
}

.quiz span::after{
    content: "";
    background-color: var(--cor-terciaria);
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

.quiz span:hover::after{
    width: 100%;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.apresentacao_conteudo{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao_conteudo_titulo{
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    margin-bottom: 70px;
    margin-top: 70px;
}
.apresentacao_conteudo_paragrafo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}



/* ----------------------- Animação do Botão Pagina Inicial -----------------------------*/
button {
    --button_radius: 0.75em;
    --hover_offset: 4px;
    --active_offset: 2px;
    --glitch_offset: 2px;

    font-size: 17px;
    font-weight: bold;
    border: none;
    width: 200px;
    border-radius: var(--button_radius);
    background: var(--cor-hover);
    position: relative;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    margin-top: 50px;
    
  }

button a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

button a:visited {
    text-decoration: none;
    color: var(--cor-secundaria);
}

button a:hover,
button a:focus {
    text-decoration: none;
    color: var(--cor-secundaria);
}


.button_top a{
    text-decoration: none;
    color: var(--cor-secundaria)
}

.button_top a:visited {
    color: var(--cor-secundaria);
    text-decoration: none;
}

.texto_botao{
    color: inherit;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    display: inline;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 5px solid var(--cor-hover);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--cor-terciaria);
    color: var(--cor-hover);
    transform: translateY(-0.2em);
    transition: transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  button:hover {
    box-shadow: var(--hover_offset) var(--hover_offset) 0 #00509f;
    transform: translate(
      calc(-1 * var(--hover_offset)),
      calc(-1 * var(--hover_offset))
    );
  }

  button:hover .button_top {
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    transform: translateY(0);
  }
  
  button:active {
    box-shadow: var(--active_offset) var(--active_offset) 0 var(--cor-hover);
    transform: translate(
      calc(-1 * var(--active_offset)),
      calc(-1 * var(--active_offset))
    );
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--cor-hover),
      inset 0 0 0 2px var(--cor-terciaria);
  }

button::before, button::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-terciaria);
    color: var(--cor-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;
    border-radius: var(--button_radius);
    opacity: 0;
  }

button:active::before, button:active::after {
  transform: none;
}

@keyframes brutalistShake {
    0%,
    100% {
      transform: translateX(0) translateY(0);
    }
    25% {
      transform: translateX(-2px) translateY(-2px) rotate(-1deg);
    }
    75% {
      transform: translateX(2px) translateY(2px) rotate(1deg);
    }
  }
  
  button:hover {
    animation: brutalistShake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }

  /* ----------------------------- Término da animação ----------------------------- */

  